*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
/docs/apps/sam_d21_cnano/ble_weather_station/hex
/docs/apps/sam_d21_cnano/fitness_tracker/hex
/docs/apps/sam_d21_cnano/location_sos/hex
