file is ../root_certs/AmazonRootCA1.cer
file is ../root_certs/BaltimoreCyberTrustRoot.cer
file is ../root_certs/DigiCert.cer
file is ../root_certs/DigiCertSHA2.cer
file is ../root_certs/EnTrust.cer
file is ../root_certs/GlobalSignRoot.cer
file is ../root_certs/ISRGRootX1.cer
file is ../root_certs/QuoVadis_Root.cer
file is ../root_certs/VeriSign.cer
